body {
    background-color: aqua;
    color: white;
    font-size: 20px;
}
.imgdperfil {
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    margin: 40px;
}
.nombre{
    margin-left: 40px;
    font-family: 'Courgette', cursive;
    color: black;
}
.footclr {
    font-family: 'Courgette', cursive;
    color: black;
    background-color:darkcyan;
    border-radius: 10px;
    margin: 40px;
    padding: 40px;
}

.a,
.b,
.c,
.d,
.e,
.f,
.h {
    margin: 60px 80px 0px 80px;
}
.opacity {
    background-color:black ;
    opacity: .8;
    border-radius: 20px;
    padding: 10px;
    margin: 60px;
}
h1 {
    font-size: 40px;
    font-family: 'Courgette', cursive;
    font-weight: 100;
    color: chartreuse;
    margin: 0px;
}
li {
    display: block;
}
h2 {
    color: chartreuse;
    font-size: 30px;
    margin-left: 20px;
}
h4 {
    margin-left: 10px;
    color: chocolate;
}
label {
    font-size: 22px ;
    color:chocolate ;
    margin-left: 30px;
}
input,
textarea {
    font-size: 15px;
    border-color: blue;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    padding:auto;
    margin-left: 20px;
}
 #btsubmit {
    background-color:chocolate ;
    color: white;
    border-color: blue;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    margin-left: 350px;
    padding: 8px 20px 8px 20px;
}
.class_button_remove {
    background-color:chocolate ;
    color: white;
    border-color: blue;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    margin-left: 50px;
}
.l {
    display: flex;
}
.link_class {
    margin-top: 32px;
    margin-left: 60px;
}
.menu {
    background-color: black;
    border-radius: 10px;
    opacity: .8;
    margin: 10px 10px 10px 300px;
    padding: 15px;
    
}
.menu a {
    text-decoration: none;
    font-size: 20px;
    font-family:  'Courgette', cursive;
    margin: 15px;
    padding: 7px;
    color: chartreuse;

}
.menu a:hover {
    background: chocolate;
   }
   header {
    position: fixed;
    z-index: 9999;
    margin: 20px;
   }

   @media screen and (max-width: 990px) {
    .menu {
        background-color: black;
        border-radius: 10px;
        opacity: .8;
        margin: 10px 10px 10px 200px;
        padding: 30px;
        
    }
    .l {
        display:block;
    }
    .link_class {
        margin-top: 32px;
        margin-left: 40px;
    }
    #enter_message {
        width: 192px;
        
    }
    #btsubmit {
        margin-left: 130px;
    }
  }
 
  .my_form {
    flex-wrap: wrap;
  }